/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: flex-start;
    justify-content: center;    
    background-color: white;
}
h1 {
    color: rgb(181, 155, 158);
    font-weight: lighter !important;
    position: relative;
}
.list {
    text-align: center;
    margin: auto;
    position: relative;
}
.input {
    border-color: white;
    color: rgb(119, 119, 119);
    font-weight: lighter;
    width: 100%;
    height: 50px;
    border: 0;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 20px;
}
.todoList {
    display: auto;
    margin:auto;
    position: relative;
    width: 100%;
    margin: 2;
    color: rgb(119, 119, 119);
    font-weight: lighter;
    border-top: 1px solid rgb(232, 230, 230);
    padding: 12px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 20px;
}
.form {
    text-align: center;    
    display: auto;
    margin: auto;    
    width: 40vmax;
    line-break: anywhere;
}
textarea:focus,
input:focus {
    outline: none;
}
.button {
    border: 0;
    background-color: white;
    padding-top: 6px;
    text-align: center;
    color: grey;
    font-weight: lighter;
}
.button:hover {
    color:rgb(140, 39, 21);
}
.tasks{
    display: auto;
    margin: auto;
    position: relative;
    width: 100%;
    color: rgb(119, 119, 119);
    border-top: 1px solid rgb(232, 230, 230);
    font-size: smaller;
    font-weight: lighter;
    padding: 8px;
}
